settings {
    statusInterval = 20,
    nodaemon = true
}
sync {
    default.rsync,
    source = "target/aarch64-unknown-linux-gnu/release",
    target = "alarm@alarm.local:/tmp/",
    rsync = {
      binary = "/usr/bin/rsync",
      _extra = {
        "--include=pi-ffmpeg-udp",
        "--exclude=*"
      }
    },
    delay = 0.2,
    log = scarce
}
